*{
    margin: 0;
    /* border: 1px solid red; */
    padding: 0;
}
.head{
    background-color: #11AEEF;
    
}

header{
    width: 90%;
    margin-left: 50px;
}

.head-2{
    width: 3%;
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.head-2 h2{
    font-size: 30px;
    color: white;
}

.head-1{
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.head-3 button{
    border: 1px solid black;
    padding: 0px 40px;
    border-radius: 8px;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    border-style: none;
    font-size: 17px;
    font-family: sans-serif;
}

.head-3 button:hover {
    background-color: black;
    color: white;
  }

.head-3{
    display: flex;
    gap: 70px;
    margin-top: 50px;
}

.head-3 img{
    width: 5%;
}

.head-3 h3{
    justify-content: center;
    align-items: center;
    color: white;
}

.head-4{
    width: 50%;
}

.head-5 img{
    width: 100%;
}

.head-5{
    margin-top: 140px;
    display: flex;
    /* align-items: center; */
    gap: 150px;
    margin-left: 80px;
    margin-bottom: 100px;
}

.head-4 h1{
    font-size: 70px;
    color: white;
    font-family: sans-serif;
}

.head-4 p{
    line-height: 1.4em;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}


.head-4 button{
    margin-top: 50px;
    padding: 20px 70px;
    border-radius: 40px;
    font-size: 16px;
    border: 5px solid white;
    background-color: #11AEEF;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50px;
}

.head-4 button:hover {
    background-color: black;
    color: white;
  }


  .main-1{
    display: flex;
    gap: 150px;
    width: 100%;
  }

  .main-1 img{
    width: 200%;
  }

  .main-2{
    display: flex;
    gap: 20px;
  }

  .main-2 h2{
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 40px;
    font-weight: 100;
  }

  .main-2 h3{
    font-size: 50px;
    color: #11AEEF;
    font-family:sans-serif;
    font-weight: 100;
  }

  .main-3{
    margin: auto;
    margin-left: 170px;
  }

  .main-3 p{
    color: rgb(1, 10, 5);
    font-size: 19px;
    font-family: sans-serif;
    line-height: 35px;
    /* font-weight: 400; */
    padding-bottom: 50px;
    width: 85%;
  }


  .main-3 button{
    /* margin-top: 50px; */
    font-weight: 400;
    padding: 20px 60px;
    border-radius: 40px;
    font-size: 19px;
    border: 5px solid #11AEEF;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 17x;
    margin-left: 400px;
}

.main-3 button:hover {
    background-color: #11AEEF;
    color: white;
  }


  .main-4{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
    margin-top: 40px;
  }

  .main-4 h2{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;
  }

  .main-4 h3{
    font-size: 50px;
    color: #11AEEF;
    font-family: sans-serif;
    font-weight: 100;
  }